@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  line-height: normal;
  height: 100%;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

.button {
  @apply px-8 py-3 text-lg font-medium text-white transition duration-300 ease-in-out rounded-full bg-primary-500 w-max hover:bg-primary-700;
}

.btn-contained {
  @apply inline-flex p-3 px-8 space-x-2 font-medium text-white duration-100 border border-transparent rounded-full hover:border-primary-500 w-max bg-primary-500 hover:text-primary-600 hover:bg-primary-100;
}

.btn-outlined {
  @apply inline-flex py-3 px-8 space-x-2 font-medium text-gray-800 duration-100 border rounded-full hover:border-primary-500 w-max bg-white hover:text-primary-700 hover:bg-primary-200;
}

.btn-outlined.primary {
  @extend .btn-outlined;
  @apply bg-primary-100 text-primary-800 border-primary-500 hover:text-white hover:bg-primary-500;
}

.btn-outlined.secondary {
  @extend .btn-outlined;
  @apply bg-secondary-50 text-secondary-900 hover:border-secondary-500 border-secondary-500 hover:text-white hover:bg-secondary-500;
}

.btn-outlined.danger {
  @extend .btn-outlined;
  @apply bg-red-100 text-red-600 border-red-500 hover:text-white hover:bg-red-500;
}

.btn-outlined.black {
  @extend .btn-outlined;
  @apply bg-black text-white hover:border-black hover:text-white hover:bg-gray-800;
}

.btn-auth {
  @apply flex items-center justify-between hover:bg-gray-100 py-6 md:p-6 px-4 -mx-6 transition duration-150 ease-in-out;
}

.react-numeric-input .wrap {
  background: '#E2E2E2';
  box-shadow: '0 0 1px 1px #fff inset, 1px 1px 5px -1px #000';
  padding: '2px 2.26ex 2px 2px';
  border-radius: '6px 3px 3px 6px';
  font-size: 32;
}

.numeric-input input:focus {
  border: '1px inset #69C';
  outline: 'none';
}

.numeric-input .arrowDown {
  border-top-color: 'rgba(66, 54, 0, 0.63)';
}

.text-field {
  @apply relative w-full py-4 px-3 text-gray-700 placeholder-gray-400 rounded-lg border-transparent outline-none;
}

.text-field.dense {
  @apply py-1 px-2 #{!important};
}


.text-field.outlined {
  @extend .text-field;
  @apply text-gray-700 bg-white border border-gray-300 hover:border-gray-400;
}

.text-field.filled {
  @extend .text-field;
  @apply bg-gray-100 border-2 focus-within:bg-white focus-within:border-primary-400 hover:bg-primary-50 hover:border-primary-400 ring-0;
}

.form-header {
  @apply block mb-8 text-2xl sm:text-3xl md:text-4xl font-semibold text-gray-700;
}

.autocomplete-field {
  @apply w-full rounded-md bg-transparent transition ease-in-out duration-200 border-2 border-transparent;
}

.autocomplete-field input {
  @apply bg-gray-100 outline-none py-4 hover:bg-primary-100 focus:bg-transparent focus:border-primary-400 border-2 border-transparent rounded-md;
}

.autocomplete-field::placeholder {
  @apply text-gray-400;
}

.autocomplete-with-icon {
  @apply pl-14 #{!important};
}

.menu-items {
  @apply absolute z-50 w-full py-2 mt-2 origin-top bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.menu-items li {
  @apply p-4 cursor-pointer hover:bg-primary-50 hover:text-primary-700;
}
