@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

.autocomplete-field {
  @apply w-full p-4 py-3 text-lg border rounded-md hover:border-gray-400 focus:border-primary-500 focus:border-2;
}

.text-field {
  @apply relative w-full p-3 text-lg text-gray-700 placeholder-gray-400 bg-white border border-gray-300 rounded-lg hover:border-gray-400;
}

label.text-field {
  @apply block mb-8 text-2xl font-semibold text-gray-700 lg:text-3xl;
}

label.register-text-field {
  @apply block mb-8 text-2xl font-semibold text-gray-700 lg:text-3xl;
}

.form-header {
  @apply text-2xl font-semibold text-gray-700 md:text-3xl;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.btn-outlined {
  @apply px-4 py-2 my-8 text-lg border rounded-md border-secondary-500 text-secondary-500 hover:bg-secondary-100;
}
